.top-bar {
  text-align: left;
  padding: 30px 20px;
  margin-left: 255px !important;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}
.vl {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: 0.08;
}
.name {
  font-size: 14px;
}
.dropdown-toggle::after {
  display: none !important;
}

@media only screen and (max-width: 786px) {
  .top-bar {
    margin-left: 60px;
  }
} ;
