.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* topbar */
.top-bar {
  text-align: left;
  padding: 30px 20px;
  margin-left: 255px !important;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}
.vl {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: 0.08;
}
.name {
  font-size: 14px;
}
.dropdown-toggle::after {
  display: none !important;
}

/* Auth */

.wrapper {
  background-color: #363740;
  height: 100vh;
  min-height: 100vh;
}
.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 32px;
  margin: 10px;
  max-width: 380px;
}
.text-logo {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a4a6b3;
  opacity: 0.7;
}
.text-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #252733;
}
.text-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}
form {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #4b506d;
}
form label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #9fa2b4;
}

.form-control {
  background: #fcfdfe;
  border: 1px solid#F0F1F7;
  border-radius: 8px;
}
form ::placeholder {
  letter-spacing: 0.3px !important;
  font-size: 14px;
  color: #4b506d !important;
  opacity: 0.4 !important;
}
.login-button {
  width: 100%;
  background: #3751ff;
  padding: 12px 0;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.signup-label {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}
.signup-button {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3751ff;
  cursor: pointer;
}
/* dashboard */
.dashboard {
  padding: 20px;
}
.dashboard-card {
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #252733;
}
.card-title {
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #9fa2b4;
}
.card-number.active {
  color: #3751ff;
}
.dashboard-card.active {
  border: 1px solid #3751ff;
}
.card-title.active {
  color: #3751ff;
}
/* sidebar */
.side-bar {
  height: 100vh;
  width: 255px;
  background: #363740;
  text-align: left;
  padding: 0;
  position: fixed;
}
.heading {
  align-items: center;
  padding: 32px;
  display: flex;
  color: #a4a6b3;
  font-size: 19px;
}
.logo-image {
  width: 32px;
  height: 32px;
}
.logo-image img {
  width: 100%;
  height: 100%;
}
.menu {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a4a6b3;
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  border-left: 3px solid transparent;
  padding: 20px 32px;
}

.menu.active {
  background: #9fa2b40a;
  color: #dde2ff;
  border-left: 3px solid #dde2ff;
}
.menu:hover {
  background: #9fa2b40a;
  color: #dde2ff;
  cursor: pointer;
}
.menu-title {
  padding-left: 20px;
}
/* userlayout */
.main-children {
  margin-left: 255px !important;
}
/* userlist */
.users-list {
  background: white;
  border: 1px solid #dfe0eb;
  border-radius: 5px;
  min-height: 200px;
}
.users-list-heading {
  color: #252733;
  align-items: center;
  padding: 20px 32px;
  display: flex;
  font-size: 19px;
}
.avatar {
  width: 40px;
  height: 40px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.text-wrapper {
  padding-left: 13px;
  text-align: left;
}

.text {
  font-size: 14px;
}
.updated {
  font-size: 10px;
  color: #b7b8be;
}
.tag {
  background: red;
  border-radius: 20px;
  width: 45px;
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  text-align: center;
}
table {
  padding: 10px;
}
tr {
  vertical-align: middle;
}

table thead {
  color: #9fa2b4;
  font-size: 14px;
  text-align: left;
}
table tbody {
  text-align: left;
}
.cell-padding {
  padding: 10px 32px !important;
}
.info {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 13px;
  color: #b7b8be;
  padding: 5px 20px;
}

.buttons {
  cursor: pointer;
}
.buttons :hover {
  color: teal;
}
.icons-wrapper {
  display: flex;
  font-size: 13px;
  color: #9fa2b4;
  font-weight: 600;
  margin-left: auto;
  padding-right: 20px;
}
.icon {
  width: 15px;
  height: 15px;
}
.icon img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 786px) {
  .side-bar {
    width: 70px;
    overflow: hidden;
  }
  .heading {
    display: none;
  }
  .avatar {
    width: 55px;
  }
  .main-children {
    margin-left: 60px;
  }
  .top-bar {
    margin-left: 60px;
  }
  .hstack {
    flex-wrap: wrap;
  }
} ;
